{% extends 'basewidget/__base.html' %}

{% block widget %}

    <div class="row">
        <div class="col-xs-12">
            <h2>Absence{{ static_context.missing|length|pluralize }} ce {{ static_context.modified|date:'l j F' }}</h2>
            <p class="text-info">
                {% if static_context.missing|length > 0 %}
                    {{ static_context.missing|join:', ' }}
                {% else %}
                    <em>Aucun</em>
                {% endif %}
            </p>
        </div>
    </div>

    <div id="missing-{{ wuid }}">
        {% for entry in static_context.hours %}
            <div class="entry">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="text-right">
                            <span style="font-size:2em;">{{ entry.hour }}</span><span class="small text-muted">h</span>
                        </div>
                    </div>
                    <div class="col-xs-11">
                        <blockquote style="font-size:1.0em; min-height:50px;">
                            {% for students, change in entry.items %}
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="text-info" style="white-space: nowrap;">{{ students }}</span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>{{ change }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="text-info">- - -</span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>- - -</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script language="javascript">
    $(document).ready(function() {
        var el = $("#missing-{{ wuid }}");
        setInterval(function () { animateSlideUp(el, '.entry', 1000); }, 6000);
    });
    </script>

{% endblock %}