{% extends "textwidget/__base.html" %}


{% block widget %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script language="javascript">
        $(document).ready(function() {

            moment.locale('fr');

            function update_clock(element) {
                var datetime = moment();
                datetime.add(element.attr("data-delay"), 's');
                element.text(datetime.format(element.attr("data-format")));
                setTimeout(function () { update_clock(element); }, 1000);
            };

            // If it is in a navbar, add a navbar-text class
            $(".navbar #clock-{{ wuid }}").addClass('navbar-text');

            update_clock($("#clock-{{ wuid }}"));
        });
    </script>
    <span id="clock-{{ wuid }}" data-format="{{ static_context.format }}" data-delay="{{ static_context.delay }}"></span>

{% endblock %}

