{% extends "textwidget/__base.html" %}


{% block widget %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script language="javascript">
        $(document).ready(function() {

            moment.locale('fr');

            function update_clock(element) {
                var datetime = moment();
                datetime.add($(element).attr("data-delay"), 's');
                $(element).text(datetime.format($(element).attr("data-format")));
                setTimeout(function () { update_clock(element); }, 1000);
            };

            // Avoid launching multiple updates for widgets of the same type.
            $(".clockTextWidget").each(function (i, el) {
               if ($(el).attr("data-started") != 1) {
                    $(el).attr("data-started", 1);
                   update_clock(el);
               }
            });

            // If .clockTextWidget is in a navbar, add a navbar-text class
            $(".navbar .clockTextWidget").each(function (i, el) {
               $(el).addClass('navbar-text');
            });
        });
    </script>
    <span class="clockTextWidget" data-format="{{ widget.format }}" data-delay="{{ widget.delay }}"></span>

{% endblock %}

