{% extends "basewidget/__base.html" %}


{% block widget %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script language="javascript">
        $(document).ready(function() {
            moment.locale('fr');

            var element = $("#clock-{{ wuid }}");
            var datetime = moment();
            datetime.add({{ static_context.delay }}, "s");
            var format = "{{ static_context.format }}";

            // If it is in a navbar, add a navbar-text class
            $(".navbar #clock-{{ wuid }}").addClass('navbar-brand');

            setInterval(function () {
                datetime.add(1, "s"); // less costly
                element.text(datetime.format(format));
                return arguments.callee;
            }(), 1000);
        });
    </script>
    <span id="clock-{{ wuid }}"></span>

{% endblock %}

