{% extends 'textwidget/__base.html' %}

{% block widget %}
    {% if static_context.title %}<h2>{{ static_context.title }}</h2>{% endif %}

    <div class="row">
        <div class="col-xs-12" id="{{ wuid }}-entries">
            <ul class="list-group">
                {% for entry in static_context.entries %}
                    <li class="list-group-item">
                        <b{% if entry.type != "default" %} class="text-{{ entry.type }}"{% endif %}>
                            {{ entry.title }}
                        </b>
                        <div id="{{ wuid }}-entry-{{ forloop.counter0 }}"{% if not forloop.first %} style="display: none;"{% endif %}>
                            {% include static_context.inner_layout with entry=entry %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script language="javascript">
    $(document).ready(function() {
        var entries = "#{{ wuid }}-entry-";
        var i = 0;
        var max = {{ static_context.entries|length }};

        setInterval(function () {
            $(entries + i).slideToggle(1000, function() {
                i = (i + 1) % max;
                $(entries + i).slideToggle(1000);
            });
        }, 10000);
    });
    </script>

{% endblock %}