{% extends 'textwidget/__base.html' %}

{% block widget %}
    {% if static_context.title %}<h2>{{ static_context.title }}</h2>{% endif %}

    <div class="row">
        <div class="col-xs-12">
            <p class="text-muted">
                Affiché : <span id="{{ wuid }}-selector" class="text-muted">1</span>
                sur {{ static_context.entries|length }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" id="{{ wuid }}-entries">
            {% for entry in static_context.entries %}
                <div>
                    {% include static_context.inner_layout with entry=entry %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script language="javascript">
    $(document).ready(function() {
        var selector = "#{{ wuid }}-selector";
        var entries = "#{{ wuid }}-entries";
        var i = 0;
        var max = {{ static_context.entries|length }};

        // Initialize
        $(entries + " > div").fadeOut(1);
        $(entries + " div:eq("+i+")").fadeIn(1);

        setInterval(function () {
            $(entries + " > div:eq("+i+")").fadeOut(1000, function() {
                i = (i + 1) % max;
                $(selector).html(i+1);
                $(entries + " > div:eq("+i+")").fadeIn(1000);
            });
        }, 10000);
    });
    </script>

{% endblock %}