<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="navbar-brand">
                    {% include 'dashboard/_cell.html' with position='header-1' %}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    {% include 'dashboard/_cell.html' with position='header-2' %}
                </div>
            </div>
        </div>
    </div>
</nav>