{% load get_from_dict %}
{% load class_name %}

<div>
{% with cells|get_item:position as cell %}
    {% if cell %}
        <div class="cell cell-{{ position }} {{ cell.widget.classname }}" id="{{ cell.widget.wuid }}">
            {% include cell.widget.get_layout with dashboard=dashboard static_context=cell.widget.get_static_context wuid=cell.widget.wuid position=position %}
        </div>
    {%  else %}
        {% if debug %}
            <span class="text-danger">** {{ position }} **</span>
        {% endif %}
    {% endif %}
{% endwith %}
</div>