{% extends '__base.html' %}
{% load static %}

{% block title %}{{ block.super }} / {{ dashboard.name }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static dashboard.get_style %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/style/dashboard.css' %}" rel="stylesheet"/>
{% endblock %}

{%  block page %}
    {% block header %}
        {% include dashboard.get_header_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}


    {% block main %}
        {% include dashboard.get_main_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}


    {% block footer %}
        {% include dashboard.get_footer_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}
{% endblock %}