{% extends '__base.html' %}
{% load static %}

{% block title %}{{ block.super }} / {{ dashboard.name }}{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static dashboard.get_style %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/dashboard.css' %}" rel="stylesheet"/>
{% endblock %}

{% block page %}
    {% block header %}
        {% include dashboard.get_header_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}

    {% block main %}
        {% include dashboard.get_main_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}

    {% block footer %}
        {% include dashboard.get_footer_layout with dashboard=dashboard cells=cells display=display %}
    {% endblock %}

    <div class="autorefresh-bar">
        {% if dashboard.auto_refresh > 0 %}
            <div class="clearfix"></div>
            <div class="progresss"><div class="progress-bar" id="autorefresh" style="width: 0%; transition-duration: {{ dashboard.auto_refresh }}s;"></div></div>

            <script language="javascript">
                $(document).ready(function() {
                    setTimeout(function () { $('#autorefresh').css('width', '100%'); }, 1000); // Avoid freezing bar
                    setTimeout(function () { window.location.reload(); }, 1000 * {{ dashboard.auto_refresh }});
                });
            </script>
        {% endif %}
    </div>
{% endblock %}