{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    {% spaceless %}
        {% for child in module.children %}
            <div class="grp-module" id="module-{{child.name|lower}}">
                <h{% if subindex %}4{% else %}3{% endif %}><a href="{{ child.url }}">{% trans child.name %}</a></h{% if subindex %}4{% else %}3{% endif %}>
                {% for instance in child.instances %}
                    <div class="grp-row">
                        {% if instance.url %}
                            <a href="{{ instance.url }}"><strong>{{ instance.name }}</strong></a>
                        {% else %}
                            <strong>{{ instance.name }}</strong>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}