body {
    height: 100%;
    overflow: hidden;
}

.navbar-brand {

    /* padding: 0.8em !important; */
}

.autorefresh-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.autorefresh-bar .progress {
    height: 2px;
}

.autorefresh-bar .progress-bar {
    height: 2px;
    transition-timing-function: linear;
}
