body {
    height: 100%;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0px;
}

.autorefresh-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.autorefresh-bar .progress {
    height: 2px;
}

.autorefresh-bar .progress-bar {
    height: 2px;
    transition-timing-function: linear;
}
