body {
    font-size: 24px;
    height: 100%;
    overflow: hidden;
}

nav.navbar {
    margin-top: 0.8em !important;
}

.navbar-brand {
    font-size: 1.05em !important;
    padding: 0.8em !important;
}

.autorefresh-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.autorefresh-bar .progress {
    height: 4px;
}

.autorefresh-bar .progress-bar {
    height: 4px;
    transition-timing-function: linear;
}