{% extends "textwidget/__base.html" %}

{% block widget %}
    <div class="panel panel-{{ static_context.type }}">
        {% if static_context.header %}
            <div class="panel-heading">
                {{ static_context.header|safe }}
            </div>
        {% endif %}
        <div class="panel-body">
            {{ static_context.content|safe }}
        </div>
        {% if static_context.footer %}
            <div class="panel-footer">
                {{ static_context.footer|safe }}
            </div>
        {% endif %}
    </div>
{% endblock %}

